<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>

<header class="header">
    <a href="{% url 'main' %}">
        <img src="{% static 'images/VL-logo.jpg' %}" alt="Профіль" class="profile-logo">
    </a>
    <div class="nav-buttons">
        <a href="{% url 'catalog' %}">Чоловічий одяг</a>
        <a href="{% url 'cart' %}" class="cart-link">Корзина ({{ items|length }})</a>
        <a href="{% url 'catalog' %}#female">Жіночий одяг</a>
    </div>
</header>

<main class="item-page">
    <h1>Корзина</h1>

    {% if items %}
        <table>
        <thead>
            <tr>
                <th>Фото</th>
                <th>Товар</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th>Розмір</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in items %}
            <tr>
                <td>
                    {% if entry.item.images.first %}
                        <img src="{{ entry.item.images.first.image.url }}" alt="{{ entry.item.title }}" style="width: 70px; height: 70px; object-fit: cover; border-radius: 4px;">
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" alt="Фото відсутнє" style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;">
                    {% endif %}
                </td>
                <td>{{ entry.item.title }}</td>
                <td>{{ entry.qty }}</td>
                <td>{{ entry.item.price }} грн</td>
                <td>
                    <select name="sizes_{{ entry.item.id }}" class="size-select">
                        {% for size in entry.item.sizes.all %}
                            <option value="{{ size.id }}" {% if entry.size.id == size.id %}selected{% endif %}>
                                {{ size.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
            <td>
                <button onclick="location.href='{% url 'remove_from_cart' entry.item.id %}'" class="remove-btn">Видалити</button>
            </td>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>Загальна сума:</strong> {{ total_price }} грн</p>

    <h2>Оформлення замовлення</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="order-button">Підтвердити замовлення</button>
    </form>

    {% else %}
    <p>Ваша корзина порожня.</p>
    {% endif %}
</main>

</body>
</html>
