<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Logout</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/body/logout.css' %}">
</head>
<body>
    <div class="logout-container">
        <h2 style="color: #fff;">Are you sure you want to log out?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn confirm-btn">Yes, log out</button>
            <a href="{% url 'main' %}" class="btn cancel-btn">Cancel</a>
        </form>
    </div>
</body>
</html>
